.App {
  text-align: center;
}
.station {
  position: absolute;
  top: 1rem;
  text-align: center;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: #281414;
  margin: 1rem;
  z-index: 10;
}

.btn {
  position: absolute;
  bottom: 6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.searchingFor {
  position: absolute;
  bottom: 8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
  background: rgba(240, 248, 255, .7);
  padding-bottom:1rem;
}

.title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #281414;
    z-index: 10;
    margin: 0;
    padding: 1rem;
    background: rgba(240, 248, 255, .7);
  }